---
layout: page
title: header.talks
---
{% include JB/setup %}

<div class="post-list">
  {% for post in site.tags['talks'] %}
    <div class="post-item">
      <a href="{{ post.url }}">
        <h4>{{ post.title }}</h4>
        <span class="date">{{ post.date | date: "%b %Y" }}</span>
        <span class="description">
          {% if post.description %}
            {{ post.description | strip_html }}
          {% else %}
            {{ post.excerpt | strip_html }}
          {% endif %}
        </span>
      </a>
    </div>
    <hr/>
  {% endfor %}
</div>