<section>
    <p class="avatar">
        <%- image_tag(gravatar('tiagoromerogarcia@gmail.com', 200), { class: 'avatar'}) %>
    </p>
    <div class="about-me"><strong>Tiago Romero Garcia</strong> is a Technical Manager at <a href="http://www.avenuecode.com" rel="external" target="_blank">Avenue Code</a> and Technical Leader at <a href="http://www.macys.com" rel="external" target="_blank">Macys.com</a>, heavily interested in cutting-edge front-end technologies. He is a conference speaker (check out his <a href="http://lanyrd.com/profile/tiagooo_romero/" rel="me" target="_blank">Lanyrd</a> profile) and organizes the <a href="http://www.meetup.com/Backbone-js-Hackers" rel="external" target="_blank">Backbone.js Hackers meetup in San Francisco</a>.
</section>
<section class="social-icons">
    <a href="http://github.com/tiagorg/" rel="me" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
    <a href="http://www.linkedin.com/in/tiagorg/" rel="me" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="http://twitter.com/tiagooo_romero/" rel="me" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="mailto:tiagoromerogarcia+contact@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
</section>
