<section>
    <p class="avatar">
        <%- image_tag(gravatar('tiagoromerogarcia@gmail.com', 200), { class: 'avatar'}) %>
    </p>
    <div class="about-me"><strong>Tiago Garcia</strong> is a JavaScript P.I., dog daddy, vegetarian rollerblader, not your typical Brazilian.</div>
    <div class="about-me">Tech Manager at <a href="http://www.avenuecode.com" rel="external" target="_blank">Avenue Code</a>, <a href="http://lanyrd.com/profile/tiagooo_romero/" rel="me" target="_blank">conference speaker</a> and article writer</a>.
</section>
<section class="social-icons">
    <a href="http://github.com/tiagorg/" rel="me" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
    <a href="http://www.linkedin.com/in/tiagorg/" rel="me" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="http://twitter.com/tiagooo_romero/" rel="me" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="http://stackoverflow.com/users/4438850/tiago-garcia" rel="me" target="_blank">
    	<span class="fa-stack fa-lg">
  			<i class="fa fa-square fa-stack-2x"></i>
  			<i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
		</span>
	</a>
    <a href="mailto:tiagoromerogarcia+contact@gmail.com" rel="me" target="_blank">
    	<span class="fa-stack fa-lg">
  			<i class="fa fa-square fa-stack-2x"></i>
  			<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		</span>
	</a>
</section>