<% if (site.posts.length){ %>
  <section>
    <h1>Recents</h1>
    <ul>
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
        <li>
          <a href="<%- config.root %><%- post.path %>"><%= post.title || '(no title)' %></a>
        </li>
      <% }) %>
    </ul>
  </section>
<% } %>
