<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="<%- config.root %>" id="logo"><%= config.title %></a></h1>
        <% if (theme.subtitle){ %>
          <h2 id="subtitle-wrap">
            <a href="<%- config.root %>" id="subtitle"><%= theme.subtitle %></a>
          </h2>
        <% } %>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
        <li><a href="/categories/talk"><i class="fa fa-microphone fa-fw"></i> Talks</a></li>
        <li><a href="/categories/article"><i class="fa fa-book fa-fw"></i> Articles</a></li>
        <li><a href="/categories/protip"><i class="fa fa-pencil-square-o fa-fw"></i> Pro tips</a></li>
        <li><a href="/categories/project"><i class="fa fa-cog fa-fw"></i> Projects</a></li>
        <li><a href="/categories/event"><i class="fa fa-users fa-fw"></i> Events</a></li>
      </ul>
    </section>
  </nav>
</div>
