<aside id="sidebar" class="sidebar small-12 medium-12 large-4 columns">
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  <section class="footer">
    Theme inspired on <a href="http://octofound.annekjohnson.com" target="_blank">Octofound</a>.<br/>
    Powered by <a href="http://hexo.io/" target="_blank">hexo</a>.
  </section>
</aside>
